

.contato a{
    transition-duration: 0.2s;
}
.contato a{
    color: white;}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
font-size: 25px;}

.contato a:hover{
    color:#5bbe42;

}


body {
    viewport-fit: 100%;
    color:white;
background-color:black;
font-family: Arial, Helvetica, sans-serif;}

h1{
    color:#5bbe42 ;}

.contato section ul li img {
    height: 50px;
    width: auto;

}